.container-fluid {
  color: white;
  text-align: center;   
}

.row {
  margin: 2rem;
}

.dropdown {
  margin: 2rem;
}

.card-deck {
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.single-card {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 2rem;
  padding: 1rem;
  border-width: 2px;
  background-color: #262626;
  border-color: darkgray;
  width: 180px;
  height: 300px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn {
  color: white;
}

.btn:hover {
  color:yellow;
  background-color: #4e4e4e;
}

.card-img-top {
  height: 128px;
  width: 128px;
}