h3 {
    margin-top: 2rem;
    color: white;
}

.card {
    margin-bottom: 2rem;
    background-color: #262626;
    color: white;
    border-color: white;
}

.comment-cards {
    margin-bottom: 2rem;
    background-color: #262626;
    border: 2px;
    color: white;
    border-color: white;
}

.card-img-top {
    max-width: 140px;
}

li {
    background-color: #262626;
    border-color: white;
}

textarea {
    width: 90%;
    margin: 2rem auto;
}

button {
    margin-top: 1rem;
}